
<div class="container">
    <div class="container1">
        <img src="../../assets/madicallogo-removebg-preview.png" alt="logo">
    <span>Book your<i> DoctorAppointment</i></span>
    </div>
    <div class="container2">
        <div class="navbar1">
            <li routerLink="/mainpage/dashboard" RouterLinkActive="active">Dashboard</li>
            <li routerLink="/mainpage/bookappointment" RouterLinkActive="active">BookAppointment</li>
            <li routerLink="/mainpage/appointments" RouterLinkActive="active">Appointments</li>
            <li routerLink="/mainpage/doctors" RouterLinkActive="active">Doctors</li>
            <li routerLink="/mainpage/adddoctor" RouterLinkActive="active">Add Doctor</li>
            <li routerLink="/homepage" RouterLinkActive="active">Logout</li>
        </div>
    <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <span></span>
    </div>
